.article {
  line-height: normal;
}

.article__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
}

.article__btn {
    background: #2b5894;
    margin-right: 20px;
}

.article__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
